<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHFManager.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
				<key>dateExpires</key>
				<string>2022-01-27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatingButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B29CA526089F93397F0EDF1D81E8B7212F00765</string>
						<key>dateExpires</key>
						<string>2022-01-27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H97YA8G6R5.golgi.Golgi-Splash.LiquidWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>H97YA8G6R5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.H97YA8G6R5.com.golgi.Golgi-Splash</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LiquidWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ba9fda93-9044-401b-b311-0c470895227c</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: golgi.Golgi-Splash.LiquidWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H97YA8G6R5</string>
						<key>name</key>
						<string>Marwan Zaarab</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H97YA8G6R5.golgi.Golgi-Splash</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.golgi.Golgi-Splash</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H97YA8G6R5</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.H97YA8G6R5.com.golgi.Golgi-Splash</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>CHFManager.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>067407c6-66e1-4c63-9438-667129169754</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: golgi.Golgi-Splash</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H97YA8G6R5</string>
				<key>name</key>
				<string>Marwan Zaarab</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
